/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*#images {
    column-count: 4;
}
/* Enable these styles if you wish to go into a grid layout. */
ul#images li {
    display: inline-block;
    margin: 0 0 20px;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 1s ease;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

ul#images li button {
    display: inline-block;
}

/*--- End of grid layout styles. */


ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}

ul {
    position:relative;
    list-style-type:none;
}

 

















